@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Nunito, system-ui, sans-serif;
  }

  a {
    color: rgb(134 239 172);
    text-decoration-line: underline;
    text-underline-offset: 8px;
  }
}
